@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-hover {
    @apply hover:bg-gray-800 transition cursor-pointer;
  }
}

:root {
  --background: #eaeaea;
  --foreground: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.post-container::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: black;
  font-family: "FigTree", sans-serif;
}
